transformers 
torch==2.7.0
scikit-learn 
matplotlib 
openai
groq
langchain-groq
python-dotenv
google-generativeai
sentence_transformers
langchain 
langchain-google-genai 
chromadb 
faiss-cpu 
PyPDF2
langchain-community